


 <p id="notice"><%= notice %></p>

<h1>Listings</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered table hover">
  
    <thead>
      <tr>
        <th>User</th> 
        <th>Address1</th>
        <th>Address2</th>
        <th>Postal code</th>
        <th>State</th>
        <th>Country</th>
        <th>Price</th>
        <th>Room type</th>
        <th>Description</th>
        <th>Availability</th>
        <th>Bedroom</th>
        <th>Bathroom</th>
        <th>Preview Pic</th>
      </tr>
    </thead> 


     <tbody> 
      <% @listings.each do |listing| %>
         <tr> 
          <td><%= listing.user.username %></td> 
          <td><%= listing.address1 %></td>
          <td><%= listing.address2 %></td>
          <td><%= listing.postal_code %></td>
          <td><%= listing.state %></td>
          <td><%= listing.country %></td>
          <td><%= listing.price %></td>
          <td><%= listing.room_type %></td>
          <td><%= listing.description %></td>
          <td><%= listing.availability %></td>
          <td><%= listing.bedroom %></td>
          <td><%= listing.bathroom %></td>
           <td><% if listing.photos.length > 0 %>
              <%= image_tag listing.photos.first, id:"listing_preview"%>
              <% else %>
              <img id="listing_preview" src="/assets/no-preview.jpg">
              <% end %>
          </td>  
                   
          <% if current_user.id == listing.user_id %>
            <td><%= link_to 'Show', listing %></td>
            <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
            <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
 </div> 
 </div>
 </div>
 </div> 

  
    
 

<%= paginate @listings %>

<br>

<%= link_to 'New Listing', new_listing_path %>



 




