<div class="text-field">
  <%= form.label :username %>
  <%= form.text_field :username, type: 'username' %>
</div>


<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="image-field">
	<%= form.label :avatar %>
  <%= form.file_field :avatar %>
</div>




