<p class='text-center'>testing</p>
<br>
<br>
<H1>HOME</H1>

<div class="cards row">
  <% @listings.each_with_index do |listing, i| %>
  <!-- Card media -->
      <div class="card col-md-3" style="height: 300px; padding-top: 8px;" >
      <div class="pmd-card pmd-card-default pmd-z-depth">
        <div id= "card_margin" >
          <div class="pmd-card-media">
            <% if listing.photos.length > 0 %>
              <%= image_tag listing.photos.first.carousel, id:"card_listing_preview"%>
            <% else %>
              <img id="card_listing_preview" src="http://propeller.in/assets/images/profile-pic.png">
            <% end %> 
        <!-- <img width="1184" height="666" class="img-responsive" src="http://propeller.in/assets/images/profile-pic.png"> -->
          </div>
    
    <!-- Card header -->
          <div class="pmd-card-title">
        <h2 class="pmd-card-title-text"><%= listing.room_type %></h2>
        <span class="pmd-card-subtitle-text" style="color:red ">MYR <%= listing.price %></span><br> 
        <span class="pmd-card-subtitle-text"><%= listing.state %></span>   
          </div>
    
    <!-- Card action -->
      <div class="pmd-card-actions">

<!-- <button data-target="#media-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">Media Modal</button>
<div tabindex="-1" class="modal fade" id="media-dialog" style="display: none;" aria-hidden="true"> 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="pmd-modal-media"> <img width="1184" height="666" class="img-responsive" src="http://propeller.in/assets/images/profile-pic.png"> </div>
      <div class="pmd-card-title">
        <h2 class="pmd-card-title-text">Title goes here</h2>
        <span class="pmd-card-subtitle-text">Secondary text</span> </div>
      <div class="pmd-modal-action">
        <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-primary pmd-btn-flat" type="button">Primary</button>
        <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-default pmd-btn-flat" type="button">Action</button>
      </div>
      <div class="modal-body"> Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions. </div>
    </div>
  </div> 
</div>
 -->






        <button class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><%= link_to listing do %>More Info...<% end %></button>
        <!-- <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default">Action</button> -->
      </div>
        </div>
      </div>
    </div>
  <% end %>
</div> <!-- end row -->













