<p class='text-center'>testing</p>

<H1>HOME</H1>

<div class="cards row">
  <% @listings.each_with_index do |listing, i| %>
  <!-- Card media -->
      <div class="card col-md-3" style="height: 300px; padding-top: 8px;" >
      <div class="pmd-card pmd-card-default pmd-z-depth">
        <div id= "card_margin" >
          <div class="pmd-card-media">
            <% if listing.photos.length > 0 %>
              <%= image_tag listing.photos.first.carousel, id:"card_listing_preview"%>
            <% else %>
              <img id="card_listing_preview" src="http://propeller.in/assets/images/profile-pic.png">
            <% end %> 
        <!-- <img width="1184" height="666" class="img-responsive" src="http://propeller.in/assets/images/profile-pic.png"> -->
          </div>
    
    <!-- Card header -->
          <div class="pmd-card-title">
        <h2 class="pmd-card-title-text"><%= listing.room_type %></h2>
        <span class="pmd-card-subtitle-text"><%= listing.price %></span>  
          </div>
    
    <!-- Card action -->
      <div class="pmd-card-actions">
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Primary</button>
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-default">Action</button>
      </div>
        </div>
      </div>
    </div>
  <% end %>
</div> <!-- end row -->













<div class="row" style="margin-top: 20px;">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered table hover">
  
    <thead>
      <tr>
        <th>User</th> 
        <th>Address1</th>
        <th>Address2</th>
        <th>Postal code</th>
        <th>State</th>
        <th>Country</th>
        <th>Price</th>
        <th>Room type</th>
        <th>Description</th>
        <th>Availability</th>
        <th>Bedroom</th>
        <th>Bathroom</th>
        <th>Preview Pic</th>
        <th>Action</th>
      </tr>
    </thead> 


     <tbody> 
      <% @listings.each do |listing| %>
         <tr> 
          <td><%= listing.user.username %></td> 
          <td><%= listing.address1 %></td>
          <td><%= listing.address2 %></td>
          <td><%= listing.postal_code %></td>
          <td><%= listing.state %></td>
          <td><%= listing.country %></td>
          <td><%= listing.price %></td>
          <td><%= listing.room_type %></td>
          <td><%= listing.description %></td>
          <td><%= listing.availability %></td>
          <td><%= listing.bedroom %></td>
          <td><%= listing.bathroom %></td>
           <td><% if listing.photos.length > 0 %>
              <%= image_tag listing.photos.first, id:"listing_preview"%>
              <% else %>
              <img id="listing_preview" src="/assets/no-preview.jpg">
              <% end %>
          </td>  
             <td><%= link_to 'Show', listing %></td>      
          <% if current_user.id == listing.user_id %>
            
            <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
            <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
 </div> 
 </div>
 </div>